.about {
	background-color: $design-beige;

	img {
		display: block;
	}
	&__rightImg,
	&__content {
		flex: 1 0 50%;
	}

	&__content {
		padding: 50px 5% 50px 11%;
		.orangeText {
			padding: 10px 0px;
		}
		.chefPic {
			flex: 1 0 auto;
			max-width: 25%;
			filter: grayscale(1);
		}
		.headshot {
			border-radius: 100%;
		}
		.chefTxt {
			flex: 1 0 auto;
			max-width: 70%;
		}
		.italic {
			font-style: italic;
			padding: 15px 0px;
			color: black;
		}
	}
}

@media (max-width: 1100px) {
	.about {
		&__rightImg {
			display: none;
		}
	}
}

@media (max-width: 600px) {
	.about {
		&__content {
			padding: 50px 15px;
		}
	}
}
