.contact {
	background-color: $design-grey;
	background-image: url(../assets/map.png);
	background-repeat: no-repeat;
	background-position: 100% 0%;

	p {
		color: #778892;
	}
	&__container {
		padding-top: 100px;
		align-items: flex-end;
	}
	&__sideBar {
		padding: 0px 10px 150px 10px;
		&-icons {
			padding-top: 30px;
		}
	}
	form {
		align-items: flex-start;
		background-color: $design-beige;
		padding: 30px;
		flex: 1 0 60%;
		h2 {
			align-self: center;
		}
		.contact__input {
			width: 100%;
			margin: 10px 0px;
			padding: 10px;
			resize: none;
		}
		button {
			background-color: darken($design-beige, 20);
			border: 3px solid black;
			padding: 25px 60px;
			color: black;
			&:hover {
				background: $design-orange;
			}
		}
	}
	&__info {
		@include flex-container(row);
		justify-content: flex-start;
		text-align: left;
		&-item {
			padding: 10px;
		}
	}
}
