header {
	background-image: url(../assets/headerImage.jpg);
	background-color: grey;
	background-blend-mode: multiply;
	background-repeat: no-repeat;
	background-position: 50% 30%;
	background-size: cover;
	height: 100vh;
	padding: 0px 15px;
	position: relative;

	nav {
		height: 100vh;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 999;

		input[type='checkbox'] {
			display: none;
		}

		label[for='nav__hamburger'] {
			width: 50px;
			position: fixed;
			top: 20px;
			right: -200px;
			filter: invert(100%) sepia(96%) saturate(17%) hue-rotate(278deg) brightness(103%) contrast(107%);
			transition: all 0.2s;
			&:hover {
				cursor: pointer;
				filter: invert(34%) sepia(78%) saturate(5131%) hue-rotate(19deg) brightness(100%) contrast(87%);
			}
		}

		.nav__bar {
			background: rgba(0, 0, 0, 0.8);
			max-width: 10%;
			min-width: 120px;
			height: 100%;
			padding: 40px 5px;
			position: fixed;
			transition: all 0.5s;

			.flex-container-column {
				align-items: flex-start;
			}
			ul {
				height: 250px;
			}
			a,
			p {
				color: #778892;
				text-align: center;
			}
			a:hover {
				color: white;
			}
		}
	}
	.header__content {
		height: 90%;
		padding-top: 20vh;
	}
}

@media (max-width: 1300px) {
	header {
		.nav__bar {
			left: -500px;
		}
		input[type='checkbox']:checked + .nav__bar {
			max-width: 100%;
			left: 0;
		}
		nav {
			label[for='nav__hamburger'] {
				right: 20px;
			}
		}
	}
}
