h1, h2, h3, h4, p, a, ul, li, nav {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

// General styles, typography, and layout

    html {
        font-size: 62.5%;
        line-height: 1.8rem;
        scroll-behavior: smooth;
    }

    .outerWrapper {
        max-width: 2000px;
        margin: 0 auto;
    }

    .wrapper {
        max-width: 1080px;
        padding: 0px 15px;
        margin: 0 auto;
    }

    img {
        max-width: 100%;
    }

    body {
        font-family: $main-font;
        font-size: 2rem;
    }

    h2 {
        font-family: $stylistic-font;
        font-size: 6rem;
        line-height: 6rem;
        padding: 3rem 0px;
    }

    h3 {
        font-size: 3rem;
    }

    h4 {
        font-size: 2.5rem;
    }

    p {
        color: grey;
    }

    .contactInfo, .featured ul, .menuItem p {
        font-size: 1.4rem;
    }

    .fab {
        color: #778892;
        padding: 0px 10px;
    }

    .orangeText {
        color: $design-orange;
    }

    .flex-container-row {
        @include flex-container(row);
    }

    .flex-container-column {
        @include flex-container(column);
    }

    .sectionDescription {
        max-width: 60%;
        margin: 0 auto;
        font-style: italic;
    }

    button {
        background-color: $design-orange;
        border: none;
        text-transform: uppercase;
        padding: 15px 30px;
        margin: 40px auto;  
        p {
            padding-left: 10px;
            color: white;
        }
        &:hover {
            background-color: darken($design-orange, 10);
        }
    }

    a:hover, a:hover .fas, a:hover .fab {
        color: $design-orange;
    }

// End general styles, typography, and layout

header {
    background-image: url(../assets/headerImage.jpg);
    background-color: grey;
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-position: 50% 30%;
    background-size: cover;
    height: 100vh;
    padding: 0px 15px;

    nav {
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 999;
        transition: all .6s;
        
        input[type="checkbox"] {
            display: none;
        }

        label[for="toggle"]  {
            font-size: 50px;
            position: fixed;
            top: 20px;
            right: -200px;
            transition: all .2s;

            .fab {
                color: white;
            }
            &:hover {
                cursor: pointer; 
            }
            &:hover .fab {
                color: $design-orange;
            }

        }

        .navBar {
            background: rgba(0, 0, 0, .8);
            max-width: 10%;
            min-width: 120px;
            height: 100%;
            padding: 40px 5px;
            position: fixed;
            transition: all .5s;

            .flex-container-column{
                align-items: flex-start;
            }
            ul {
                height: 250px;
            }
            a, p {
                color: #778892;
                text-align: center;
            }
            a:hover {
                color: white;
            }
        }
    }
    .headerContent {
        height: 80%;
        padding-top: 20vh;
    }
}

.about {
    background-color: $design-beige;

    img {
        display: block;
    }
    .rgtImg, .abtText {
        flex: 1 0 50%;
    }
    
    .abtText {
        padding: 50px 5% 50px 11%;
        .orangeText {
            padding: 10px 0px;
        }
        .chefPic {
            flex: 1 0 auto;
            max-width: 25%;
            filter: grayscale(1);
        }
        .headshot {
            border-radius: 100%;
        }
        .chefTxt {
            flex: 1 0 auto;
            max-width: 70%;
        }
        .italic {
            font-style: italic;
            padding: 15px 0px;
            color: black
        }
    }
}

.featured, .services, .menu, .contact {
    text-align: center;
    padding: 80px 0px;
}

.featured {
    background: $design-grey;
    padding-bottom: 0;

    .featuredText {
        padding: 0px 15px;
    }
    img {
        display: block;
        margin: 0 auto;
    }
    h2, p, a, li {
        color: $design-beige;
    }
    a:hover {
        color: $design-orange;
    }
    ul {
        background: rgba(0, 0, 0, .2);
        text-transform: uppercase;
        max-width: 40%;
        margin: 70px auto;
        padding: 10px 30px;
    }
    .gallery {
        @include flex-container(row);
        flex-wrap: wrap;
        h4 {
            color: white;
        }
        p {
            color: $design-orange;
        }
        .galleryItem {
            flex: 1 0 275px;
            position: relative;
            &:hover .galleryItemDescription {
                display: block;
            }
        }
        .galleryItemDescription {
            background: rgba(0, 0, 0, .7);
            width: 100%;
            height: 100%;
            padding: 20% 0px;
            position: absolute;
            top: 0;
            right: 0;
            display: none;
        }
    }
}

.services {
    background: $design-beige;
    .flex-container-row {
        padding-top: 60px;
    }
    .services-item {
        max-width: 23%;
        h3 {
            padding: 30px 0px;
        }
    }
}

.menu {
    background: url(../assets/restaurantPic.jpg);
    background-color: $design-grey;
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: $design-beige;

    .flex-container-column {
        align-items: flex-start;
        text-align: left;
        padding: 40px 0px;
        flex: 1 0 auto;
        max-width: 45%;
    }
    .menuItem {
        width: 100%;
        padding: 10px 0px;
        p {
            color: $design-beige;
            font-style: italic;
        }
    }
    
}

.contact {
    background-color: $design-grey;
    background-image: url(../assets/map.png);
    background-repeat: no-repeat;
    background-position: 100% 0%;

    p {
        color: #778892;
    }
    .contactContainer {
        padding-top: 100px;
        align-items: flex-end;
        .contactIcons {
            padding-top: 30px;
        }
    }
    .contactFormFrame {
        padding: 0px 10px 150px 10px;
    }
    form {
        align-items: flex-start;
        background-color: $design-beige;
        padding: 30px;
        flex: 1 0 60%;
        h2 {
            align-self: center;
        }
        .contactInput {
            width: 100%;
            margin: 10px 0px;
            padding: 10px;
            resize: none;
        }
        button {
            background-color: darken($design-beige, 20);
            border: 3px solid black;
            padding: 25px 60px;
            color: black;
            &:hover {
                background: $design-orange;
            }
        }
    }
    .contactInfo {
        @include flex-container(row);
        justify-content: flex-start;
        text-align: left;
        .contactInfoItem {
            padding: 10px;
        }
    }
}

footer {
    background: $design-grey;
    text-align: center;
    padding: 20px 0px;
    p {
        color: #778892;
    }
}


// Responsive Starts:
@media (max-width: 1300px) {
    header {
        .navBar{
            left: -500px;
        }
        input[type="checkbox"]:checked + .navBar{
            max-width: 100%;
            left: 0;
        }
        nav {
            label[for="toggle"] {
                right: 20px
            }
        }
    }
}

@media (max-width: 1000px) {
    .sectionDescription {
        max-width: 80%;
    }
    .about {
        .rgtImg {
            display: none;
        }
    }
    .featured {
        nav ul { 
            max-width: 60%;
        }
    }
    .services {
        .flex-container-row {
            flex-wrap: wrap;
        }
        .services-item {
            max-width: 44%;
        }
    }
    .contact {
        background-image: none;
        .contactContainer {
            padding-top: 20px;
            flex-direction: column;
            align-items: center;
            form {
                width: 100%;
            }
            .contactFormFrame {
                padding-bottom: 20px;
            }
            .contactInfoContainer {
                display: flex;
                justify-content: space-around;
                width: 100%;
                padding: 20px 0px;
            }
        }
    }
}

@media (max-width: 800px) {
    .sectionDescription {
        max-width: 100%;
    }
    .featured {
        nav ul {
            max-width: 80%;
        }
    }
    .services {
        .flex-container-row {
            flex-direction: column;
            .services-item {
                max-width: 100%;
                padding: 20px 0px;
            }
        }
    }
    .menu {
        .menuGallery {
            flex-direction: column;
            align-items: normal;
            .flex-container-column {
                max-width: 100%;
                padding: 0px;
            }
        }
    }
}

@media (max-width: 600px) {
    .about {
        .abtText {
            padding: 50px 15px;
        }
    }
    .featured {
        nav ul {
            max-width: 95%;
        }
    }
    .contactInfoContainer {
        flex-direction: column;
        .contactInfo {
            justify-content: center;
        }
    }
}
