h1, h2, h3, h4, p, a, ul, li, nav {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: $main-font;
    font-size: 2rem;
}

h2 {
    font-family: $stylistic-font;
    font-size: 6rem;
    padding: 3rem 0px;
}

h3 {
    font-size: 3rem;
}

h4 {
    font-size: 2.5rem;
}

.icons {
    .fab {
        color: #778892;
        padding: 0px 10px;
    }
}

.italic {
    font-style: italic;
    padding: 15px 0px;
}

.orangeText {
    color: $design-orange;
}

p {
    color: grey;
}

.flex-container-row {
    @include flex-container(row);
}

.flex-container-column {
    @include flex-container(column);
}

.sectionDescription {
    max-width: 60%;
    margin: 0 auto;
    font-style: italic;
}

header {
    background-image: url(../assets/headerImage.jpg);
    background-color: grey;
    background-blend-mode: multiply;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: 50% 30%;
    background-size: cover;

    nav {
        position: fixed;
        height: 100vh;
        input[type="checkbox"] {
            display: none;
        }
        label[for="toggle"] {
            font-size: 60px;
            position: fixed;
            top: 20px;
            right: -200px;
            transition: all .2s;
            .fab {
                color: white;
            }
        }
        .navBar {
            position: fixed;
            top: 0;
            left: 0;
            max-width: 10%;
            min-width: 120px;
            height: 100%;
            padding: 40px 5px;
            background: rgba(0, 0, 0, .8);
            transition: all 1s;
            .flex-container-column{
                align-items: flex-start;
            }
            ul {
                height: 250px;
            }
            a, p {
                color: #778892;
                text-align: center;
                &:hover {
                    color: white;
                }
            }
        }
    }
    .headerContent {
        height: 70%;
        padding-top: 20vh;
    }
    a {
        margin: 0 auto;
    }
}

button {
    background-color: $design-orange;
    border: none;
    text-transform: uppercase;
    padding: 15px 30px;
    margin: 40px auto;
    
    p {
        padding-left: 10px;
        color: white;
    }
}

.about {
    background-color: $design-beige;
   
    .rgt-img, .abt-text {
        flex: 1 0 50%;
    }
    
    .abt-text {
        padding: 50px 5% 50px 11%;
        .orangeText {
            padding: 10px 0px;
        }
        .italic {
            color: black;
        }
        .chefPic {
            flex: 1 0 35%;
            max-width: 25%;
            filter: grayscale(1);
        }
        .headshot {
            border-radius: 100%;
        }
        .chefTxt {
            flex: 1 0 65%;
            max-width: 70%;
        }
    }
}

.featured, .services, .menu, .contact {
    text-align: center;
}

.featured {
    color: $design-beige;
    background: $design-grey;
    padding-top: 50px;
    h2, p, a {
        color: $design-beige;
    }
    ul {
        max-width: 40%;
        margin: 70px auto;
        text-transform: uppercase;
        background: rgba(0, 0, 0, .2);
        padding: 10px 30px;
        font-size: 1.4rem;
    }
    .gallery {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        .galleryItem {
            flex: 1 0 150px;
        }
    }
    a:hover {
        color: $design-orange;
    }
}

.services {
    background: $design-beige;
    padding: 80px 0px;

    .flex-container-row {
        padding-top: 60px;
    }
    .services-item {
        flex: 1 0 23%;
        max-width: 23%;
        h3 {
            padding: 30px 0px;
        }
    }
}

.menu {
    background: url(../assets/restaurantPic.jpg);
    background-color: $design-grey;
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 80px 0px;
    color: $design-beige;
    .flex-container-column {
        padding: 40px 0px;
    }
    .flex-container-column {
        align-items: flex-start;
        text-align: left;
        flex: 1 0 30%;
        max-width: 45%;
    }
    .menuItem {
        width: 100%;
        padding: 10px 0px;
        p {
            color: $design-beige;
            font-style: italic;
            font-size: 1.4rem;
        }
    }
    
}

.contact {
    background-color: $design-grey;
    background-image: url(../assets/map.png);
    background-repeat: no-repeat;
    background-position: 100% 0%;
    p {
        color: #778892;
    }

    .contactBox {
        padding-top: 200px;
        align-items: flex-end;
        .icons {
            padding-top: 30px;
        }
    }
    form {
        align-items: flex-start;
        background-color: $design-beige;
        padding: 20px 50px;
        flex: 1 0 60%;
        h2 {
            align-self: center;
        }
        .contactInput {
            margin: 10px 0px;
            width: 100%;
            max-width: 700px;
            resize: none;
        }
    }
    .contactSection {
        flex: 1 0 15%;
        padding-bottom: 150px;
    }

    .contactInfo {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        text-align: left;
        padding: 10px 0px;
        font-size: 1.4rem;
        .contactInfoItem {
            padding-left: 5%;
        }
    }
}

.formMessage {
    height: 200px;
}

footer {
    background: $design-grey;
    text-align: center;
    padding: 50px 0px 20px 0px;
}


// Responsive Starts:

@media (max-width: 1000px) {
    header {
        nav {
            .navBar{
                left: -1000px;
            }
            input[type="checkbox"]:checked + .navBar{
                max-width: 100%;
                left: 0;
            }
            label[for="toggle"] {
                // display: block;
                right: 20px
            }
        }
    }
    .about {
        .rgt-img {
            display: none;
        }
    }
    .contact {
        background-image: none;
        .contactBox {
            padding-top: 20px;
            flex-direction: column;
            align-items: center;
            form {
                width: 100%;
            }
            .contactSection {
                padding-bottom: 20px;
            }
            .contactInfoContainer {
                display: flex;
                justify-content: space-around;
                width: 100%;
            }
            .contactInfo {
                width: 100%;
            }
        }
    }
}