h1,
h2,
h3,
h4,
p,
a,
ul,
li,
nav {
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
}

// General styles, typography, and layout

html {
	font-size: 62.5%;
	line-height: 1.8rem;
	scroll-behavior: smooth;
}

.outerWrapper {
	max-width: 2000px;
	margin: 0 auto;
}

.wrapper {
	max-width: 1080px;
	padding: 0px 15px;
	margin: 0 auto;
}

img {
	max-width: 100%;
}

body {
	font-family: $main-font;
	font-size: 2rem;
}

h2 {
	font-family: $stylistic-font;
	font-size: 6rem;
	line-height: 6rem;
	padding: 3rem 0px;
}

h3 {
	font-size: 3rem;
}

h4 {
	font-size: 2.5rem;
}

p {
	color: grey;
}

.contact__info,
.featured ul,
.menu__gallery-item p {
	font-size: 1.4rem;
}

.svgIcon {
	filter: invert(54%) sepia(13%) saturate(391%) hue-rotate(158deg) brightness(94%) contrast(91%);
	width: 15px;
}

.logoIcon {
	width: 20px;
	margin: 0px 10px;
}

.orangeText {
	color: $design-orange;
}

.flex-container-row {
	@include flex-container(row);
}

.flex-container-column {
	@include flex-container(column);
}

.sectionDescription {
	max-width: 60%;
	margin: 0 auto;
	font-style: italic;
}

button {
	background-color: $design-orange;
	border: none;
	text-transform: uppercase;
	padding: 15px 30px;
	margin: 40px auto;
	transition: 0.3s all;
	p {
		padding-left: 10px;
		color: white;
	}
	&:hover {
		background-color: darken($design-orange, 10);
	}
}

a:hover {
	color: $design-orange;
	transition: 0.3s all;
}
a:hover .svgIcon {
	filter: invert(34%) sepia(78%) saturate(5131%) hue-rotate(19deg) brightness(100%) contrast(87%);
}

.featured,
.services,
.menu,
.contact {
	text-align: center;
	padding: 80px 0px;
}
// End general styles, typography, and layout

// Responsive Starts:

@media (max-width: 1000px) {
	.sectionDescription {
		max-width: 80%;
	}
}

@media (max-width: 800px) {
	.sectionDescription {
		max-width: 100%;
	}
}
