@import "../partials/normalize";
@import "../partials/variables";
@import "../partials/home";

html {
    font-size: 62.5%;
    line-height: 1.8rem;
}

.wrapper {
    max-width: 1240px;
    padding: 0px 15px;
    margin: 0 auto;
}

img {
    max-width: 100%;
}